doctype html
html
  head
    title This is the title
    block scripts
    block style
  body
    nav#navbar
        ul 
            div#logo 
                img(src="/static/image/logo.png", alt="website logo")
            li #[a(href="/") Home]
            li #[a(href="/") About ]
            li #[a(href="/") Services ]
            li #[a(href="/") class info]
            li #[a(href="/contact") Contact us]
    block content
    footer#footer 
            |Copyright 2024 WITDanceAcademy.com,All rights reserved    
    